<div class="container mt-5">

  <h1>ProfilePage</h1>
  <p>Pretty cute</p>

  <img
    src="images/oter.jpg"
    alt="Profile image"
    width="500">
 
@if (user) {
    @if (!editing){
        <h2 class="mt-3">{{ user.username }}</h2>

        <p>Email: {{ user.email }}</p>

        <p>Birthdate: {{ user.birthdate }}</p>

        <p>Age: {{ user.age }}</p>

        <button class="btn btn-primary" (click)="editing = true">Edit</button>
        
    } @else {

        <form (ngSubmit)="saveProfile()">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>

                <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                [(ngModel)]="user.username">
            </div>

            <div class="mb-3">
                <label for="birthdate" class="form-label">Birthdate</label>

                <input
                type="text"
                class="form-control"
                id="birthdate"
                name="birthdate"
                [(ngModel)]="user.birthdate">
            </div>

            <div class="mb-3">
                <label for="age" class="form-label">Age</label>

                <input
                type="number"
                class="form-control"
                id="age"
                name="age"
                [(ngModel)]="user.age">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>

                <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                [(ngModel)]="user.email">
            </div>

            <button
            type="submit"
            class="btn btn-success">
            Save
            </button>

        <button
          type="button"
          class="btn btn-secondary ms-2"
          (click)="editing = false">

          Cancel

        </button>
        </form>
    }
}       
    

</div>
